*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

/* HEADER */
h1{
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: #e5316f;
  padding-top: 2rem;
}

/* MAIN */
.container{
  width: 80%;
  margin: 0 auto;
}

.info{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Card */
.schedule{
  width: calc(100% / 3);
  float: left;
  padding: 2rem;
}

clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.card{
  font-size: 1rem;
  min-height: 100px;
  min-width: 335px;
  background-color: black;
  color: white;

}

img{
  float: left;
  height: 100px;
  padding-right: 1rem;
}

/* TEXT CARD */
h2,h3{
  padding-bottom: 0.3rem;
}

.title{
  font-size: 1.2rem;
  padding-top: 0.4rem;
  font-weight: 700;
}

.job{
  font-size: 1rem;
  font-weight: 300;
}

.mail{
  color: #46cbef;
}

