/* RESET   */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

/* COMMON */
.section{
  padding: 2rem 0;
}
.container{
  width: 70%;
  margin: 0 auto;
}

.section-title{
  font-size: 3rem;
  color: #e5316f;
  padding-bottom: 3rem;
}

p{
  margin-bottom: 1rem;
}

a{
  color: inherit;
}

/* UTILITIES */
.text-center{
  text-align: center;
}

/* GRID */
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.col{
  float:left;
  width: calc(100% / 3 - 60px);
  margin: 30px;
}

/* CARD OF MEMEBERS */
.card-image{
  float: left;
  width: 100px;
}

.card{
  background-color: #0f0e17;
  color: white;
}

.card-content {
  float: right;
  width: calc(100% - 100px);
  padding: 5px 10px;
} 

.name {
  margin-bottom: .4rem;
}

.card-content a{
  color: #4dabd3;
}